@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
    cursor: pointer;
    display: inline-block;  
    height: 40px;
    margin-left: 0px;
    margin-right: 40px;
    position: relative;
    line-height: 2.5em;
    padding-left: 1em;
    padding-right: 2em;
    background: gray;
    color: white;
    width: 80%;
     &:after {
     
      border-left: 20px solid white;
    }
  }
  
  .arrow:after {
   
    content: "";
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    height: 0px;
    width: 0px;
    margin-right: -20px;
    right: 0; 
  }
  
  .arrow {
    background: gray;
    color: white;
    &:after {
      
      border-left: 20px solid gray;
    }
  }